.contact_section h1{
    font-size:48px;
    font-weight:800;
    
 
}
.heading{
  align-items: center;
  justify-content: center;
  top: 100%;
}
h1 {
 margin-top: 50%;
 color: rgb(29, 2, 2);
}

.contact_section p{
    font-weight:500;
   
}
 .contact_section {
    max-width: 1000px;
    margin: 0 auto;
    top: 50%;
   
  }


  /* .contact_section h1 {
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
  }
  .contact_section p {
    font-weight: 500;
  } */ 